.App {
  display: flex;
  justify-content: flex-start;
}
.table {
  width: 200px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
}

.table h2 {
  margin-left: 50px;
}

.left-panel {
  padding-left: 30px;
}

.left-panel h1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.left-panel h2 {
  margin-bottom: 20px;
}

.link {
  font-size: 18px;
}

.left-panel {
  height: 1000px;
  width: 400px;
  background-color: rgb(227, 214, 191);
}

.access {
  font-size: 20px;
}

.access img {
  margin-right: 3px;
}

.btn {
  margin-left: 30px;
}